.title{
    color: #E5E5E5;
    width: 95px;
    height: 31px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    margin: 0px 0px 0px 10px;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
    margin-left: 0.5em;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px
}

.imgTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.swiper-button-next,
.swiper-button-prev{
 color: grey !important;
}
